.default__slider {
	display: block;

	.slider {
		display: block;
		position: relative;
		width: 900px;
		margin: auto;
		margin-top: 20px;
		border-radius: 16px;
		// border: 1px #2196f3 solid;
		overflow: hidden;

		&__arrow {
			position: absolute;
			cursor: pointer;
			z-index: 999;

			&-right {
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}

			&-left {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}

		&__inner {
			display: flex;
			transition: .3s ease-in-out;
		}

		&__slide {
			display: block;
			width: 900px;
			z-index: 1;
		}
	}
}
